/* Customizable Modal */
.modal-overlay {
    position: absolute;
    display: block;
    overflow: auto;
    width: 100%;
    min-height: 810px;
    height: 100%;
    top: 124px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    cursor: pointer;
}

.modal-content {
    margin: 5% auto;
    background-color: var(--modal-bgcolor, white);
    border-radius: 0.25rem;
    width: 45vw;
    padding: 3rem 2rem 2rem 2rem;
    position: relative;
}

.close-modal {
    color: #e4e7e9;
}
.close-modal:hover {
    color: gray;
}


@media (max-width: 768px) {
    .modal-content {
        width: 60vw;
    }
}

@media (max-width: 576px) {
    .modal-content {
        width: 70vw;
    }
}

/* iPhone X, Pixel 2 */
@media (max-width: 415px) {
    .modal-content {
        width: 85vw;
    }
}

/* Galaxy S5 */
@media (max-width: 360px) {
    .modal-content {
        width: 90vw;
    }
}